<ul>
<li><%= @item.name %></li>
<li><%= @item.description %></li>
<li>$ <%= @item.price %></li>
<li><%= image_tag @item.image_url %></li>
</ul>

<%= link_to "Back", items_path, class= "btn btn-primary" %>
<%= link_to "Edit", edit_item_path, class="btn btn-warning" %>


